body {
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    color: white;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    text-align: left;
    border-bottom: 5px solid white;
  }
  
  thead button {
    border: 0;
    border-radius: 2px;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    padding: 0.5em;
    margin-bottom: 1px;
    background-color: #272727;
    color: white;
  }
  
  thead button.ascending::after {
    content: 'v';
    display: inline-block;
    margin-left: 1em;
  }
  
  thead button.descending::after {
    content: '^';
    display: inline-block;
    margin-left: 1em;
  }
  
  tbody td {
    padding: 0.5em;
    border-bottom: .5px solid #ccc;
  }
  
  tbody tr:hover {
    background-color: darkred;
  }